.character {
  margin: 0 0 24px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 74px;
  &__text {
    display: flex;
    width: calc(100% - 116px);
    justify-content: center;
    flex-direction: column;
  }
  &__img {
    margin-right: 18px;
    height: 74px;
    flex-basis: 74px;
    border-radius: 100%;
    background: center center/cover no-repeat;
  }
  &__status {
    margin: 0;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;
    &_red {
      color: $red-color;
    }
    &_green {
      color: $green-color;
    }
    &_center {
      text-align: center;
    }
  }
  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $main-text-color;
  }
  &__descr {
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: $second-text-color;
  }
  &__arrow {
    stroke: $main-text-color;
  }
}