.character {
  margin: 0 0 24px;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 74px;
  cursor: pointer;
  &_column {
    flex-direction: column;
    width: 50%;
  }
  &__text {
    display: flex;
    width: calc(100% - 116px);
    justify-content: center;
    flex-direction: column;
    &_column{
      text-align: center;
    }
  }
  &__img {
    margin-right: 18px;
    height: 74px;
    flex-basis: 74px;
    border-radius: 100%;
    background: center center/cover no-repeat;
    &_column {
      margin: 0 0 18px;
      flex-basis: 120px;
      width: 120px;
      height: 120px;
    }
  }
  &__status {
    margin: 0;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;
    &_red {
      color: $red-color;
    }
    &_green {
      color: $green-color;
    }
    &_center {
      text-align: center;
    }
  }
  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $main-text-color;
  }
  &__descr {
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: $second-text-color;
  }
  &__arrow {
    stroke: $main-text-color;
  }
}


@media (min-width: 768px) {
  .character_column {
    width: 33%;
  }
}

@media (min-width: 1200px) {
  .character_column {
    width: 25%;
  }
}




