.location {
  margin: 0 auto 24px;
  max-width: 500px;
  border: 1px solid;
  border-color: $location-border-color; 
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  &__img {
    height: 150px;
    background: center center/cover no-repeat;
  }
  &__text {
    padding: 12px 16px;
    min-height: 70px;
    background-color: $second-bg-color;
  }
  &__title {
    margin:0;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: $main-text-color;
  }
  &__descr {
    margin:0;
    font-size: 12px;
    line-height: 16px;
    color: $second-text-color;
  }
}