.char-page {
  padding: 20px 16px 0px;
  hr {
    margin: 36px 0;
    border: 1px solid;
    border-color: $bg-input-color;
  }
  &__header {
    margin: -20px -16px 0;
    padding: 20px 16px 0;
    height: 218px;
    background-color: $second-bg-color!important;
    background: center center/cover no-repeat;

  }
  &__goBack {
    stroke: #fff;
  }
  &__avatar {
    margin: 0 auto;
    transform: translateY(70%);
    width:146px;
    height: 146px;
    border-radius: 100%;
    border: 10px solid $main-bg-color;
    background: center center/cover no-repeat;
  }
  &__title {
    margin: 90px 0 4px;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    text-align: center; 
    color: $main-text-color;
  }
  &__descr {
    margin: 36px 0 0;
  }
  &__wrapper {
    margin: 24px 0;
    display:flex;
    &_sb{
      justify-content: space-between;
    }
  }
  &__wrapper>div {
    width: 50%
  }
  h3 {
    margin: 0;
  }
  &__subtitle-wrapper {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
}