.epis-page {
  
  &__header {
    padding: 34px 16px 0px;
    height: 37vh;
    background-origin: border-box;
    background: center center/cover no-repeat;
  }
  &__content {
    padding: 34px 16px 0;
    transform: translateY(-40px);
    border-radius: 26px;
    background-color: $second-bg-color;
  }
  &__caption {
    margin-bottom: 32px;
    text-align: center;
  }
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: $main-text-color;
  }
  &__subtitle {
    margin:3px 0 0;
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;
    color: $blue-color;
  }
  &__descr {
    margin: 0;
    margin-bottom: 36px;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    color: $main-text-color
  }
  h3 {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: $main-text-color;
  }
}