.episodes {
  padding: 137px 16px 60px 16px;
  min-height: 100vh;
  &__header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 16px 10px;
    width: 100%;
    background-color: $main-bg-color;
  }
  &__wrapper {
    display: flex;
    margin: 15px -16px 0;
    padding: 0;
    overflow: auto;
    list-style-type: none;
 
  }
  &__number {
    margin-bottom: 5px;
    flex-shrink: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    color:$icons-color;  
  }
  &__season {
    margin: 0 16px;
  }
  &__season-under {
    width: 70px;
    height: 2px;
    border-radius: 100px;
    background-color: transparent;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  &__button {
    background-color: transparent;
    border: none;
    &_active {
      .episodes__number {
        color: $main-text-color;  
      }
      .episodes__season-under {
        background-color: $main-text-color;
      }
    }
  }
}
.episodes__wrapper::-webkit-scrollbar {
  width: 0;
}

@media (min-width: 576px) {
  .episodes__wrapper {
    justify-content: center;
  }
}