.loc-page {
  position: relative;
  &__header {
    padding: 20px 16px 0;
    height: 300px;
    background-color: $second-bg-color!important;
    background: center center/cover no-repeat;
  }
  &__content {
    position: absolute;
    top: 251px;
    padding: 34px 16px 0;
    margin-bottom: -40px;
    width: 100%;
    border-radius: 26px 26px 0 0;
    background-color: $page-bg-color;
  }
  &__caption {
    margin-bottom: 32px;
  }
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: $main-text-color;
  }
  &__subtitle {
    margin:3px 0 0;
    font-size: 12px;
    line-height: 16px;
    color: $second-text-color;
  }
  &__descr {
    margin: 0;
    margin-bottom: 36px;
  }
  h3 {
    margin: 0;
    margin-bottom: 24px;
  }
}