.options {
  padding: 20px 16px 120px;
  &_name {
    height: 100vh;
    display:flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  hr {
    margin: 36px 0;
    border: 1px solid;
    border-color: $bg-input-color;
  }
  &__user {
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    &_edit-p {
      margin: 40px 0;
      flex-direction: column;
    }
  }
  &__img {
    margin-right: 16px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: center center/cover no-repeat;
    &_edit-p {
      margin: 0;
      width: 150px;
      height: 150px;
    }
  }
  &__subtitle {
    margin-bottom: 24px;
  }
  &__link {
    margin-top: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $blue-color;
  }
  &__form {
    position: relative;
    margin-top: 60px;
    padding-bottom: 86px;
    flex: 1 1 auto;
  }
  &__button {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  &__arrow {
    stroke: $main-text-color;
  }
}