.registration {
  padding: 20px 28px 25px;
  &__title {
    margin: 28px 0 0;
    font-weight: bold;
    font-size: 34px;
    line-height: 36px;
    color:$main-text-color;
  }
  &__form{
    padding: 18px 0 24px;
    padding-bottom: 24px;
    display: flex;
    // max-width:320px;
    flex-direction: column;
  }
  hr {
    margin: 36px 0 26px;
  }
}

@media (min-width: 576px) {
  .registration {
    padding: 20px 0 0;
  }
}