.filter {
  padding: 20px 16px 0;
  hr {
    margin: 0;
    border: 1px solid;
    border-color: $bg-input-color;
  }
  &__header {
    margin: 0 -16px;
    padding: 0 16px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:$second-bg-color;
  }
  &__goBack {
    stroke: $main-text-color;
  }
  

  &__icons {
    svg {
      margin-left: 24px;
    }
  }
  &__item {
    margin: 36px 0;
    &-wrapper {
      display: flex;
      justify-content:  space-between;
      align-items: center;
    }
    &-title {
      margin-bottom: 24px;
    }
    .check {
      margin-bottom: 24px;
    }
  }
  &__text{
    margin: 0;
  }
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-weight: normal;
    font-size: 16px;
    color: $main-text-color;
  }
  input:checked+label {
    color: $blue-color;
  }
  &__radio-wrap {
    margin-top: 24px;
  }
  &__type-title {
    margin: 36px 0 24px;
  }
}

.example {
  fill: red;
  stroke: red;
  background-color:red;
}

