.filter {
  padding: 20px 16px 0;
  hr {
    margin: 0;
    border: 1px solid;
    border-color: $bg-input-color;
  }
  &__header {
    margin: 0 -16px;
    padding: 0 16px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:$second-bg-color;
  }
  &__goBack {
    stroke: $main-text-color;
  }
  

  &__icons {
    svg {
      margin-left: 24px;
    }
  }
  &__item {
    padding: 36px 0;
    &_pb16 {
      padding-bottom: 16px;
    }
    &-wrapper {
      display: flex;
      justify-content:  space-between;
      align-items: center;
    }
    &-title {
      margin-bottom: 24px;
    }
    .check {
      margin-bottom: 24px;
    }
  }
  &__text{
    margin: 0;
  }
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-weight: normal;
    font-size: 16px;
    color: $main-text-color;
  }
  &__checkbox-label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid $gray-color;
    border-radius: 2px;
    margin-right: 20px;
  }
  input:checked+.filter__checkbox-label::before {
    border: $blue-color;
    background-image: url("./Color.svg");
  }
  input:checked+.filter__option-label {
    color: $blue-color;
  }

  &__radio-wrap {
    margin-top: 24px;
  }
  &__type-title {
    margin: 36px 0 24px;
  }
  &__button {
    padding: 0;
    border:none;
    background-color: transparent;
  }
  &__active-icon {
    fill: $blue-color;
    stroke: $blue-color;
  }
}


