.goBack {
  display: flex;
  align-items: center;
  &__title {
    margin-left: 20px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: $main-text-color
  }
  button {
    z-index: 10;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}