.item-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  &_ml-16 {
    margin-left: 16px;
  }
  &_mb-20 {
    margin-bottom: 20px;
  }
  &_mb-24 {
    margin-bottom: 20px;
  }
  &_mb-36 {
    margin-bottom: 36px;
  }
  &__svg {
    stroke:$main-text-color;
  }
}