.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 190px);
  text-align: center;
  &__text {
    margin: 0 auto;
    padding-top: 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $second-text-color;
  }
}