.input {
  margin-top: 10px;
  width: 100%;
  &__wrapper {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    border-radius: 12px;
    background-color: $bg-input-color;
  }
  &__icon-wrapper {
    display: flex;
    align-items: center;
  }
  &__icon {
    margin-right: 20px;
  }
  &__btn {
    // margin
    padding: 0;
    border: none;
    background-color: transparent;
  }
  input {
    border: none;
    outline: none;
    background-color: $bg-input-color;
    color: $main-text-color;
    font-size: 14px;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus{
    -webkit-text-fill-color: $main-text-color;
    -webkit-box-shadow: 0 0 0px 10px  $bg-input-color inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  input::placeholder {
    color: $icons-color;
  }

  label {
    margin-bottom: 8px;
    display: block;
    font-size: 14px;
    color:$main-text-color;
  }
  &__error {
    margin: 5px 0 0;
    font-size: 12px;
    color:$main-text-color;
  }
}