.input {
  margin-top: 10px;
  width: 100%;
  &__wrapper {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    border-radius: 12px;
    background-color: $bg-input-color;
  }
  &__icon-wrapper {
    display: flex;
    align-items: center;
  }
  &__icon {
    margin-right: 20px;
  }
  &__btn {
    // margin
    padding: 0;
    border: none;
  }
  input {
    border: none;
    outline: none;
    background-color: $bg-input-color;
    color: $main-text-color;
    font-size: 16px;
  }
  label {
    margin-bottom: 8px;
    display: block;
    font-size: 14px;
  }
}