.theme {
  margin: 0 auto;
  padding: 20px;
  width: 343px;
  min-height: 322px;
  border-radius: 10px;
  background-color: $second-bg-color; 
  color: $main-text-color;
  &__title {
    font-weight: 500;
    font-size: 20px;
  }
  &__radio-wrap{
    margin-top: 24px;
  }
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-weight: normal;
    font-size: 16px;
  }
  label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 3px solid $gray-color;
    border-radius: 50%;
    margin-right: 20px;
  }
  input:checked+label::before {
    border: none;
    background-image: url("./Object.svg");
  }
  &__button {
    margin-top: 24px;
    padding: 0;
    width: 303px;
    height: 38px;
    text-align: right;
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: $main-text-color;
  }
}